@font-face{
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: Raleway;
    src: url(fonts/Raleway-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: Raleway;
    src: url(fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: Raleway;
    src: url(fonts/Raleway-Black.ttf);
    font-weight: 900;
}


body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

h1 {
    margin: 0;
}






.services-container {
    height: 100vh;
    /* height: 790px; */
    /* width: 1500px; */
    background-color: #70bfff;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.services-container__title {
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-weight: bold;

    min-width: 462px;
    min-height: 527px;
    background-image: url(img/pomidorki.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}



.services-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);


    display: flex;
    align-items: center;
}

.services-list-item:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.services-list-item__name {
    width: 300px;
    height: 100px;
    font-size: 20px;
    color: rgb(38, 38, 38);
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-left: solid 1px rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__img{
    fill-rule: evenodd; 
    fill: rgb(38, 38, 38);
}